a2a-samples-old/
a2a-samples/
a2a-sdks/
.metadata
.settings/
.project
.classpath
*.jar
*.class
*.*~
.*~
*~
target/
build/
bin/
*.temp
*.tmp
*.bak
*.log
gradle/
.gradle
./gradlew
dependency-reduced-pom.xml
